In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.neighbors._classification import KNeighborsClassifier
from sklearn import svm
from sklearn import ensemble

from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

from sklearn.preprocessing import StandardScaler

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('drive/MyDrive/datasetkanker/dataset_kanker_60 - Copy.csv')
data.sample(5)
data.shape

(172, 11)

In [ ]:
scaling = StandardScaler()

for col in ["PERUT TERASA MEMBESAR", "PERUT KEMBUNG", "NYERI PERUT", "MUAL/MUNTAH", "NAFSU MAKAN MENURUN", "CEPAT KENYANG", "GANGGUAN BAK", "GANGGUAN BAB", "GANGGUAN MENSTRUASI", "PENURUNAN BB"]:
  data[col] = scaling.fit_transform(data[col].values.reshape(-1,1))
data.head()

,PERUT TERASA MEMBESAR,PERUT KEMBUNG,NYERI PERUT,MUAL/MUNTAH,NAFSU MAKAN MENURUN,CEPAT KENYANG,GANGGUAN BAK,GANGGUAN BAB,GANGGUAN MENSTRUASI,PENURUNAN BB,BENIGN/MALIGNANCY
0,0.431517,1.047645,1.164545,1.072381,0.828417,0.977008,3.019544,2.545243,1.221783,0.789076,3
1,0.431517,1.047645,1.164545,1.072381,0.828417,0.977008,3.019544,2.545243,1.221783,0.789076,3
2,-2.317406,-0.954521,-0.858705,-0.932505,-1.207122,-1.023533,-0.331176,-0.392890,-0.818476,-1.267304,2
3,0.431517,-0.954521,-0.858705,-0.932505,0.828417,-1.023533,-0.331176,-0.392890,-0.818476,0.789076,2
4,0.431517,1.047645,-0.858705,-0.932505,-1.207122,-1.023533,-0.331176,2.545243,1.221783,-1.267304,3

In [ ]:
data.describe()

,PERUT TERASA MEMBESAR,PERUT KEMBUNG,NYERI PERUT,MUAL/MUNTAH,NAFSU MAKAN MENURUN,CEPAT KENYANG,GANGGUAN BAK,GANGGUAN BAB,GANGGUAN MENSTRUASI,PENURUNAN BB,BENIGN/MALIGNANCY
count,1.720000e+02,1.720000e+02,172.000000,1.720000e+02,1.720000e+02,1.720000e+02,1.720000e+02,1.720000e+02,1.720000e+02,172.000000,172.000000
mean,-8.262125e-17,3.485584e-17,0.000000,-1.549148e-17,-1.032766e-16,-2.065531e-17,2.065531e-17,8.520316e-17,4.131062e-17,0.000000,2.534884
std,1.002920e+00,1.002920e+00,1.002920,1.002920e+00,1.002920e+00,1.002920e+00,1.002920e+00,1.002920e+00,1.002920e+00,1.002920,0.500238
min,-2.317406e+00,-9.545214e-01,-0.858705,-9.325048e-01,-1.207122e+00,-1.023533e+00,-3.311758e-01,-3.928898e-01,-8.184760e-01,-1.267304,2.000000
25%,4.315170e-01,-9.545214e-01,-0.858705,-9.325048e-01,-1.207122e+00,-1.023533e+00,-3.311758e-01,-3.928898e-01,-8.184760e-01,-1.267304,2.000000
50%,4.315170e-01,-9.545214e-01,-0.858705,-9.325048e-01,8.284169e-01,9.770084e-01,-3.311758e-01,-3.928898e-01,-8.184760e-01,0.789076,3.000000
75%,4.315170e-01,1.047645e+00,1.164545,1.072381e+00,8.284169e-01,9.770084e-01,-3.311758e-01,-3.928898e-01,1.221783e+00,0.789076,3.000000
max,4.315170e-01,1.047645e+00,1.164545,1.072381e+00,8.284169e-01,9.770084e-01,3.019544e+00,2.545243e+00,1.221783e+00,0.789076,3.000000

In [ ]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [ ]:
X_train,X_test, y_train,y_test = train_test_split(X,y,test_size=0.3, random_state=0)

In [ ]:
X_test.shape

(52, 10)

In [ ]:
clf = svm.SVC(kernel="linear")

In [ ]:
clf.fit(X_train,y_train)

SVC(kernel='linear')

In [ ]:
y_prediksi = clf.predict(X_test)
print("Y asli      = ",y_test.values)
print("Y_prediksi  = ",y_prediksi)

Y asli      =  [2 2 2 3 2 2 3 3 3 2 2 3 3 2 3 2 3 2 3 3 3 2 3 3 2 3 2 3 3 3 2 2 2 2 2 2 2
 3 2 3 2 3 3 3 3 3 3 2 2 2 2 3]
Y_prediksi  =  [2 2 2 3 2 2 3 3 3 2 2 3 3 3 3 3 2 3 3 3 3 2 2 3 3 3 3 3 3 3 2 2 2 3 3 3 2
 2 2 3 3 3 2 3 3 3 3 3 2 2 2 3]

In [ ]:
tn, fp, fn, tp = confusion_matrix(y_test, y_prediksi).ravel()
tn, fp, fn, tp

(16, 10, 4, 22)

In [ ]:
akurasi = (tp + tn) / (tp + fp + tn + fn)
er = (fp + fn) / (tp + fp + tn + fn)
recall = tp / (tp + fn)
specificity = tn / (fp + tn)
precision = tp / (tp + fp)
fscore = (2 * precision * recall) / (precision + recall)
print("Akurasi = ", round(akurasi,3))
print("Error Rate = ", round(er,3))
print("Recall = ", round(recall,3))
print("Specificity = ", round(specificity,3))
print("Precision = ", round(precision,3))
print("F-Score = ", round(fscore,3))

Akurasi =  0.731
Error Rate =  0.269
Recall =  0.846
Specificity =  0.615
Precision =  0.688
F-Score =  0.759